.btnFoo {
  text-decoration: none;
  text-align: left; }

.contentBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 20px; }

.callout {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  box-sizing: content-box;
  border: 1px solid #41a39f; }

.btn-a {
  border-radius: 10px;
  color: #3c510c; }

.btn-b {
  -webkit-transition: color 5s ease-in, background 1s ease-out;
  -moz-transition: color 5s ease-in, background 1s ease-out;
  transition: color color 5s ease-in, background 1s ease-out; }

.div-test {
  border: 3px solid;
  border-top-color: #41a39f;
  border-left-color: #41a39f;
  border-bottom-color: #41a39f;
  border-right-color: #41a39f; }

.btn-x, .btn-z {
  background: #777;
  border: 1px solid #ccc;
  font-size: 1em;
  text-transform: uppercase; }

.btn-z {
  background: #ff0; }

.btn-q, btn-i {
  background: chartreuse;
  border: 1px solid #3c510c;
  font-size: 1em;
  text-transform: uppercase; }

.btn-q {
  background: crimson; }

btn-i {
  text-transform: uppercase; }

.sidebar {
  width: 35%; }

/* @if comparisons: ==, !=, >, >=, <, <=  */
header {
  background: #000; }

.player-player {
  background: url(PatriceBergeron.png); }

.player-player {
  background: url(ZdenoChara.png); }

.player-player {
  background: url(ToryKrug.png); }

.player-player {
  background: url(BradMarchand.png); }

.item {
  position: absolute;
  left: 500px;
  top: 100px;
  position: absolute;
  border: solid 3px;
  height: 400px;
  width: 400px;
  color: black;
  background-color: black; }
  .item .item-1 {
    top: 30px;
    left: 30px;
    position: absolute;
    border: solid 3px;
    height: 40px;
    width: 40px;
    color: black;
    background-color: #0d3349; }
  .item .item-2 {
    top: 60px;
    left: 60px;
    position: absolute;
    border: solid 3px;
    height: 40px;
    width: 40px;
    color: black;
    background-color: chartreuse; }
  .item .item-3 {
    top: 90px;
    left: 90px;
    position: absolute;
    border: solid 3px;
    height: 40px;
    width: 40px;
    color: black;
    background-color: #cc0000; }
  .item .item-4 {
    top: 120px;
    left: 120px;
    position: absolute;
    border: solid 3px;
    height: 40px;
    width: 40px;
    color: black;
    background-color: #8a6343; }
  .item .item-5 {
    top: 150px;
    left: 150px;
    position: absolute;
    border: solid 3px;
    height: 40px;
    width: 40px;
    color: black;
    background-color: antiquewhite; }
  .item .item-6 {
    top: 180px;
    left: 180px;
    position: absolute;
    border: solid 3px;
    height: 40px;
    width: 40px;
    color: black;
    background-color: goldenrod; }
  .item .item-7 {
    top: 210px;
    left: 210px;
    position: absolute;
    border: solid 3px;
    height: 40px;
    width: 40px;
    color: black;
    background-color: orangered; }
  .item .item-8 {
    top: 240px;
    left: 240px;
    position: absolute;
    border: solid 3px;
    height: 40px;
    width: 40px;
    color: black;
    background-color: cornflowerblue; }
  .item .item-9 {
    top: 270px;
    left: 270px;
    position: absolute;
    border: solid 3px;
    height: 40px;
    width: 40px;
    color: black;
    background-color: darkolivegreen; }
  .item .item-10 {
    top: 300px;
    left: 300px;
    position: absolute;
    border: solid 3px;
    height: 40px;
    width: 40px;
    color: black;
    background-color: silver; }

/* level 6: Math and Color */
.lighten {
  height: 100px;
  width: 100px;
  border: 1px solid #000000;
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: #666666; }

.darken {
  height: 100px;
  width: 100px;
  border: 1px solid #000000;
  position: absolute;
  top: 200px;
  left: 100px;
  background-color: black; }

.saturate {
  height: 100px;
  width: 100px;
  border: 1px solid #000000;
  position: absolute;
  top: 300px;
  left: 100px;
  background-color: #3d2929; }

.desaturate {
  height: 100px;
  width: 100px;
  border: 1px solid #000000;
  position: absolute;
  top: 400px;
  left: 100px;
  background-color: #333333; }

.mix {
  height: 100px;
  width: 100px;
  border: 1px solid #000000;
  position: absolute;
  top: 500px;
  left: 100px;
  background-color: #85cb62; }

/* this is an example of using media queries  */
html, body {
  height: 100%;
  width: 100%;
  margin: 0; }

.fooButton {
  position: absolute;
  left: 100;
  top: 100;
  content: "foo"; }

.foobar {
  border: 3px solid greyscale(#0047fa);
  float: right;
  width: 10%;
  height: 99%;
  background-color: goldenrod; }

.profile-pic {
  float: left;
  width: 250px; }
  @media screen and (max-width: 320px) {
    .profile-pic {
      width: 100px;
      float: none; } }
  @media screen and (min-width: 1200px) {
    .profile-pic {
      float: right; } }

@media only screen and (max-device-width: 480px) {
  div#wrapper {
    width: 400px; }

  /* Smartphones (portrait and landscape) ----------- */
  /* Smartphones (landscape) ----------- */
  /* Smartphones (portrait) ----------- */
  /* iPads (portrait and landscape) ----------- */
  /* iPads (landscape) ----------- */
  /* iPads (portrait) ----------- */
  /* Desktops and laptops ----------- */
  /* Large screens ----------- */
  /* iPhone 4 ----------- */
  div#header {
    background-image: url(media-queries-phone.jpg);
    height: 93px;
    position: relative; }

  div#header h1 {
    font-size: 140%; }

  #content {
    float: none;
    width: 100%; }

  #navigation {
    float: none;
    width: auto; } }
@media only screen and (max-device-width: 480px) and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */ }
@media only screen and (max-device-width: 480px) and (min-width: 321px) {
  /* Styles */ }
@media only screen and (max-device-width: 480px) and (max-width: 320px) {
  /* Styles */ }
@media only screen and (max-device-width: 480px) and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }
@media only screen and (max-device-width: 480px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }
@media only screen and (max-device-width: 480px) and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */ }
@media only screen and (max-device-width: 480px) and (min-width: 1224px) {
  /* Styles */ }
@media only screen and (max-device-width: 480px) and (min-width: 1824px) {
  /* Styles */ }
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-device-width: 480px) and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }
.foo {
  font-weight: bold;
  font-size: 10px;
  font-family: "Arial Black"; }

.bar {
  font-weight: bold;
  font-size: 10px;
  font-family: "Arial Black"; }

.btn {
  color: #797979;
  display: block; }

/* this is a comment that will be included */
.btn-a {
  color: #c5c5c5; }
  .btn-a:hover {
    color: #dfdfdf; }

.content {
  border: 1px solid #ccc;
  padding: 20px; }
  .content h2 {
    font-size: 3em;
    margin: 20px 0; }
  .content p {
    font-size: 1.5em;
    margin: 15px 0; }
  .content .callout {
    border-color: red; }
  .content.callout {
    border-color: green; }

a {
  color: #999; }
  a:hover {
    color: #777; }
  a:active {
    color: #888; }

/* do not next unnecessarily */
.sidebar {
  float: right;
  width: 300px; }
  .users .sidebar {
    width: 400px; }

/* **************************************** */
.btn-b {
  border-radius: 5px; }

/* variable scope */
/* mixins */
.btn-a {
  border: 1px solid #ccc;
  font-size: 1em;
  text-transform: uppercase;
  background: #777; }
